__pycache__/
.cache/

/cmp
/data
/gifs
/*runs
/pkls
/gen_img

*.png
*.pth
*.pkl
*.gif
/test*


# Ignore everything in the root except the "docs" directory.
DebugImage/*.png
output/
output1/
checkpoint/